<div class="page-wrapper">
  <app-header></app-header>
  <div class="page-container">
    <div class="page-header has-border">
      <div class="page-title">Jobs</div>
    </div>

    <div class="service-content">
      <div class="service-inner">
      <p>
        Listed below are our generic job openings, please email your profiles to the IDs mentioned in job description.
      </p>

      <div class="careers-card">
        <div class="careers-card-inner">
          <div class="careers-list">
            <ul>
              <li>
                <div class="job-title">Senior Software Engineer</div>
                <div class="job-location">
                  <strong>Location:</strong> Hyderabad & Bengaluru
                </div>
                <a href="mailto:hr@vaaradhi.net" >Apply Now >></a>
              </li>
              <li>
                <div class="job-title">Business Analysts / Solutions Experts</div>
                <div class="job-location">
                  <strong>Location:</strong> Hyderabad & Bengaluru
                </div>
                <a href="mailto:hr@vaaradhi.net">Apply Now >></a>
              </li>
              <li class="no-flex">
                <div class="first">
                  <div class="job-title">IT Professionals</div>
                  <div class="job-location">
                    <strong>(Multiple openings)</strong>
                  </div>
                  <a href="mailto:hr@vaaradhi.net">Apply Now >></a>
                </div>
                <div class="second">
                  <p>
                    <strong>Computer Programmers:</strong> Write computer programs to store, locate, & retrieve specific documents, data, & information using various techs. Job locations in NY, NY & various unanticipated client sites nationally requiring relocation & travel to these sites involving short & long term assignments.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      </div>
    </div>

  </div>
  <app-footer></app-footer>
</div>
