.topmenu{
    padding-inline-start: 24px;
    width: 100%;
    &-set{
        // margin: 0;
        padding: 0;
        max-width: $screen-width;
        margin: auto;
        list-style: none;
        display: flex;
        align-items: center;
        &-item{
            padding-inline: 14px;
            position: relative;
            &:not(:last-child){
                margin-inline-end: 14px;
            }
            &-link{
                font-size: $text-size-med;
                font-weight: $font-weight-regular;
                line-height: $line-height-regular;
                color: $base-text-600;
                text-decoration: none;
                border-bottom-style: solid;
                border-bottom-width: 2px;
                border-bottom-color: transparent;
                display: block;
                padding-block: 12px;
                transition: all ease .2s;
                cursor: pointer;
                position: relative;
                &:hover{
                    color: $primary-blue-900;
                }
                &.active{
                    color: $primary-blue-900;
                    border-color: $primary-blue-900;
                }
            }
            &.show-dropdown {
                &:after {
                    content: "\f078";
                    position: absolute;
                    font-family: "Font Awesome 5 Pro";
                    font-size: $text-size-sm;
                    font-size: 12px;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -5px;
                }
                & > ul {
                    position: absolute;
                    display: none;
                    padding: 0px;
                    margin: 0px;
                    list-style: none;
                    background-color: #fff;
                    border-radius: 4px;
                    border: none;
                    min-width: 180px;
                    width: 100%;
                    box-shadow: $box-shadow-regular;
                    z-index: 1001;
                    transition: all .5s ease-in-out;
                    & > li {
                        display: block;
                        margin: 0;
                        border-right: none;
                        position: relative;
                        padding: 10px;
                        border-bottom: none;
                        cursor: pointer;
                        a {
                            color: $base-text-900;
                        }
                    }
                }
                &:hover {
                    & > ul {
                        display: block;
                        & > li {
                            a {
                                color: $base-text-900;
                            }
                            &:hover {
                                a {
                                    color: $primary-blue-900;
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}