<div class="page-wrapper">
    <app-header></app-header>
    <div class="page-container">
      <div class="page-header has-border">
        <div class="page-title">Direct Placement</div>
      </div>
  
      <div class="service-content">
        <div class="service-inner">
        <p>
            Direct Placement is to ensure that you find the multiple positions with your preferred skill set. Companies recruit direct placement services to fine and match the candidates for the everlasting jobs. The sooner you contact us, the earlier we will be working with you!
        </p>
        <h3>Deliverables include:</h3>
          <ul>
            <li>
                Pre-Screening
            </li>
            <li>
                Real-time monitoring of recruiting process
            </li>
            <li>
                Dedicated recruiter
            </li>
            <li>
                Real Time information flow to candidate and managers
            </li>
            <li>
                True partnership win-win relations
            </li>
            <li>
                Arrange interviews
            </li>
            <li>
                Work closely with hiring manager during the interview process
            </li>
          </ul>
        </div>
      </div>
  
    </div>
    <app-footer></app-footer>
  </div>
  