<div class="page-wrapper">
    <app-header></app-header>
    <div class="page-container">
      <div class="page-header has-border">
        <div class="page-title">Contract Staffing</div>
      </div>
  
      <div class="service-content">
        <div class="service-inner">
        <h3>Our contract recruiting helps you accomplish your professional goals</h3>
        <p>
            Across the globe, there are numerous exceptional opportunities for contract professionals to productively engage with companies who experience spikes in regular workloads, need access to specialized experts, or are looking to improve their cost management through focused staffing. These are professional, talented positions that are essentially utilized on a short-term basis.
        </p>
        <p>
            We operate with one of the most advanced and extensive networks of professional contacts around the globe to identify the professional talent available. Along with that, we take candidates from same network to fulfill the executive recruiting needs. So if you meet our qualifications, we welcome you to be a part of our network.
        </p>
        <h3>Full Temporary Staff Service Programs</h3>
          <ul>
            <li>
                Vaaradhi Consultancy will assume all payroll W-2 obligations and functions
            </li>
            <li>
                Includes screening and recruiting services
            </li>
            <li>
                48-hour Employee Replacement Program
            </li>
            <li>
                Employee Benefits-medical, dental, vision, long and short-term disability, life insurance, 401k, holiday and vacation pay
            </li>
            <li>
                24- hour, seven-day-a-week access to your own personal Account Executive and customer care 800 number
            </li>
            <li>
                The hourly salary for the employee will be agreed upon in advance. Cost is never a surprise
            </li>
            <li>
                The bill rate is a percentage mark-up over hourly salary and varies on position title and duties
            </li>
            <li>
                Vaaradhi Consultancy conversion policy will apply Compliance with all Federal, and State requirements
            </li>
          </ul>
        </div>
      </div>
  
    </div>
    <app-footer></app-footer>
  </div>
  