<div class="page-wrapper">
  <app-header></app-header>
  <div class="page-container">
    <div class="contact-section">
      <div class="contact-section-item">
        <div class="text-container">
          Say Hello
        </div>
      </div>
      <div class="contact-section-item second">
        <div class="contact-form">
          <div class="form-group">
            <label for="" class="field-required">Name</label>
            <input type="text" name="" value="">
          </div>
          <div class="form-group">
            <label for="" class="field-required">Email</label>
            <input type="email" name="" value="">
          </div>
          <div class="form-group">
            <label for="" class="field-required">Phone</label>
            <input type="number" name="" value="">
          </div>
          <div class="form-group">
            <label for="" class="field-required">Subject</label>
            <input type="text" name="" value="">
          </div>
          <div class="form-group">
            <textarea rows="5" cols="5" placeholder="Enter your message"></textarea>
          </div>
          <button class="contact-btn">
            SEND
          </button>
        </div>
      </div>
      <div class="contact-section-item third">
        <div class="text-container">
          Our Address
        </div>
        <div class="contact-item-list">
          <ul class="contact-info">
            <li>
              <span class="color-primary"><span class="color-primary"></span></span>
              <h3><i class="fas fa-map-marker-alt" style="color: #c13128;"></i> USA</h3>
              5302 Caraby ST, Suite #331, Irving, TX 75038.
            </li>
            <li><span class="color-primary"><i class="fas fa-phone" style="color: #c13128;"></i> 972-898-1756</span></li>
            <li><span class="color-primary"><i class="fas fa-envelope" style="color: #c13128;"></i> hr@vaaradhi.net</span></li>
            <li><span class="color-primary"><span class="color-primary"></span></span></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <app-footer></app-footer>
</div>
