.main-nav{
    margin-bottom: 0px;
}

.branding {
    a {
        height: 90px;
        width: 200px;
        display: block;
        img {
            height: 100% !important;
            width: 100%;
            object-fit: contain;
        }
    }
}

.menu-item-text {
    &.with-icon {
        color: #858585;
        font-size: 24px;
    }
}


.menu-item {
    &:hover {
        & > ul {
            visibility: visible;
            opacity: 1;
        }
        & > li {
            & > a{
                &.underline {
                    width: 100%;
                }
            }
        }
    }
}

.sub-nav {
    position: absolute;
    visibility: hidden;
    z-index: 999999;
    top: 80%;
    left: 0;
    width: 240px;
    opacity: 0;
}

.page-header {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    .page-title {
        color: #3C3C3C;
        font-family: "Lato", Sans-serif;
        font-size: 48px;
        font-weight: 300;
        line-height: 35px;
        justify-content: center;
    }
    &.has-border {
        width: 1380px;
        min-height: 140px !important;
        padding: 30px 60px 30px 60px;
        border-bottom: 1px solid #939393;
        .page-title {
            font: normal 300 42px / 44px "Lato", Helvetica, Arial, Verdana, sans-serif;
        }
    }
}

.underline {
    position: absolute;
    display: block;
    left: 1px;
    bottom: -5px;
    overflow: hidden;
    width: 0;
    pointer-events: none;
    background-color: transparent;
    opacity: .85;
    transition: all .3s cubic-bezier(.175,.885,.32,1.275);
}


.l-to-r-line {
    & > li {
        &:hover {
            & > a {
                i {
                    &.underline {
                        width: 100%;
                    }
                }
            }
        }
        &.active {
            & > a {
                i {
                    &.underline {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.masthead {
    &.fixed {
        position: sticky;
        top: 0px;
    }
}

.masthead:not(.side-header):not(.side-header-menu-icon) .header-bar {
    max-width: 1400px !important;
}