.page-wrapper{
    height: auto;
    position: relative;
    background: $base-white;
    min-height: 100%;
}

.page-container{
    padding: 20px 60px 20px 60px;
    max-width: $screen-width;
    margin: auto;
}

.service-content {
    margin-top: 30px;
    .service-inner {
        max-width: 1140px;
        padding: 10px;
        margin: auto;
        p {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 0px;
            margin-bottom: 10px;
            font-family: "Lato", Sans-serif;
            font-style: italic;
            line-height: 1.7em;
        }
        h3 {
            font: normal 300 22px / 30px "Lato", Helvetica, Arial, Verdana, sans-serif;
        }
        ul {
            padding: 0px;
            list-style: disc;
            margin: 0 0 10px 20px;
        }
        .header-tabs {
            & > ul {
                padding: 0px;
                margin: 0px;
                list-style: none;
                display: flex;
                & > li {
                    margin: 0px 10px;
                    a {
                        padding: 10px;
                    }
                }
            }
        }
    }
}