.main-nav{
    margin-bottom: 0px;
}

.branding {
    a {
        height: 90px;
        width: 200px;
        display: block;
        img {
            height: 100% !important;
            width: 100%;
            object-fit: contain;
        }
    }
}

.menu-item-text {
    &.with-icon {
        color: #858585;
        font-size: 24px;
    }
}


.menu-item {
    &:hover {
        & > ul {
            visibility: visible;
            opacity: 1;
        }
        & > li {
            & > a{
                &.underline {
                    width: 100%;
                }
            }
        }
    }
}

.sub-nav {
    position: absolute;
    visibility: hidden;
    z-index: 999999;
    top: 80%;
    left: 0;
    width: 240px;
    opacity: 0;
}

.page-header {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    .page-title {
        color: #3C3C3C;
        font-family: "Lato", Sans-serif;
        font-size: 48px;
        font-weight: 300;
        line-height: 35px;
        justify-content: center;
    }
    &.has-border {
        width: 1380px;
        min-height: 140px !important;
        padding: 30px 60px 30px 60px;
        border-bottom: 1px solid #939393;
        .page-title {
            font: normal 300 42px / 44px "Lato", Helvetica, Arial, Verdana, sans-serif;
        }
    }
    @media(max-width: 450px) {
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 10px;
        .page-title {
            font-size: 28px !important;
            line-height: 34px;
        }
        &.has-border {
            width: auto;
            min-height: 70px !important;
            padding: 30px;
            
        }
    }
}

.underline {
    position: absolute;
    display: block;
    left: 1px;
    bottom: -5px;
    overflow: hidden;
    width: 0;
    pointer-events: none;
    background-color: transparent;
    opacity: .85;
    transition: all .3s cubic-bezier(.175,.885,.32,1.275);
}


.l-to-r-line {
    & > li {
        &:hover {
            & > a {
                i {
                    &.underline {
                        width: 100%;
                    }
                }
            }
        }
        &.active {
            & > a {
                i {
                    &.underline {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.masthead {
    &.fixed {
        position: sticky;
        top: 0px;
    }
    @media(max-width: 500px) {
        display: none;
    }
}

.masthead:not(.side-header):not(.side-header-menu-icon) .header-bar {
    max-width: 1400px !important;
}


.mobile-header-menu {
    min-height: 70px;
    background: white;
    width: 100%;
    padding: 10px 20px;
    display: none;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0px;
    z-index: 99;
    .mobile-header-inner {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        .mobile-logo {
            a {
                height: 70px;
                width: 100%;
                display: block;
                line-height: normal;
                img {
                    max-height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
        .mobile-navigation {
            .toggle-btn {
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                padding: 5px;
                display: block;
                font-size: 24px;
            }
        }
    }
    @media(max-width: 500px) {
        display: block;
    }
}


.mobile-sidebar {
    position: fixed;
    top: 0;
    height: 100%;
    min-height: 100%;
    width: 330px;
    max-width: 100%;
    z-index: 9602;
    box-sizing: border-box;
    background-color: white;
    transition: transform .5s ease;
    transform: translate3d(130%,0,0);
    overflow: hidden;
    display: none;
    .mobile-menu {
        width: calc(330px - 13px);
        padding: 45px 15px 30px 30px;
        box-sizing: border-box;
        position: relative;
        .mobile-header-close {
            position: absolute;
            height: 30px;
            width: 30px;
            line-height: 30px;
            font-size: 24px;
            background: $base-red-900;
            right: 0px;
            top: 10px;
            text-align: center;
            font-weight: 400;
            color: white;
        }
        ul {
            margin: 0px;
            padding: 0px;
            li {
                border-bottom: 1px solid #ddd;
                a {
                    margin: 8px 6px;
                    .menu-item-text {
                        .menu-text {
                            font-weight: 600;
                        }
                    }
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
    &.active {
        transform: translate3d(30%,0,0);
    }
    @media(max-width: 450px) {
        display: block;
    }
}
