<div class="footer-bar">
    <div class="footer-inner">
        <div class="row">
            <div class="col-md-4">
              <div class="about-company">
                <h4 class="footer-menu-title">Varaadhi Consulting Services</h4>
                <p>
                  We, Vaaradhi Consulting Services that help business make a lasting
                  impact on out customer's business. providing efficient solutions for out
                  customers, we carve pioneering ways to increase efficiency and rapidity,
                  compliance & risk management within the enterprise and across all of its
                  suppliers, partners and customers.
                </p>
    
                <div class="social-icons">
                    <ul>
                        <li class="fb">
                            <a ><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="twitter">
                            <a >
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="link">
                            <a >
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
    
              </div>
            </div>
            <div class="col-md-3 offset-md-2">
              <h4 class="footer-menu-title">Information</h4>
          
              <div class="footer-menu-link">
                  <ul>
                      <li>
                          <span class="icon">
                              <i class="fas fa-chevron-right"></i>
                          </span>
                          <span class="text">
                              About us
                          </span> 
                      </li>
                      <li>
                          <span class="icon">
                              <i class="fas fa-chevron-right"></i>
                          </span>
                          <span class="text">
                              Term of use
                          </span> 
                      </li>
                      <li>
                          <span class="icon">
                              <i class="fas fa-chevron-right"></i>
                          </span>
                          <span class="text">
                              Privacy Policy
                          </span> 
                      </li>
                      <li>
                          <span class="icon">
                              <i class="fas fa-chevron-right"></i>
                          </span>
                          <span class="text">
                              Careers
                          </span> 
                      </li>
                      <li>
                          <span class="icon">
                              <i class="fas fa-chevron-right"></i>
                          </span>
                          <span class="text">
                              Newsletter
                          </span> 
                      </li>
                  </ul>
              </div>
            </div>
            <div class="col-md-3">
              <h4 class="footer-menu-title">Reach us</h4>
          
              <div class="footer-menu-link reach-us">
                  <ul>
                      <li>
                          <span class="icon">
                              <i class="fas fa-map-marker-alt"></i>
                          </span>
                          <span class="text">
                             <strong>USA,</strong> <br> 5302 Caraby ST, Suite #331, Irving, TX 75038
                          </span> 
                      </li>
                      <li>
                          <span class="icon">
                              <i class="fas fa-phone"></i>
                          </span>
                          <span class="text">
                              972-898-1756
                          </span> 
                      </li>
                      <li>
                          <span class="icon">
                              <i class="fas fa-envelope-open"></i>
                          </span>
                          <span class="text">
                              hr@vaaradhi.net
                          </span> 
                      </li>
                  </ul>
              </div>
              
          
            </div>
          </div>
    </div>
</div>

