<div class="page-wrapper">
  <app-header></app-header>
  <div class="page-container">
    <div class="page-header">
      <div class="page-title">Welcome to Varaadhi Consulting Services</div>
    </div>

    <div class="home-content">
      <div class="home-pic">
        <img src="assets/images/about.jpg" alt="" />
      </div>
      <div class="home-text">
        <p>
          Varaadhi Consulting Services that make a
        lasting impact on our customers’ business. Our important domains of
        focus are Information Technology, e-Commerce, Governance, Risk &
        Compliance (GRC) and Business Continuity Management (BCM). Our solutions
        and services to our customers carve pioneering ways to increase
        efficiency, productivity and rapidity.
        </p>
      </div>
    </div>

    <div class="page-header">
      <div class="page-title">Insights</div>
    </div>


    <div class="service-card">
      <div class="service-card-item">
        <div class="service-card-img">
          <img src="assets/images/software.jpg" alt="">
        </div>
        <div class="service-card-title">
          BCM & GRC Software solutions
        </div>
      </div>
      <div class="service-card-item with-border">
        <div class="service-card-img">
          <img src="assets/images/offshore.jpeg" alt="">
        </div>
        <div class="service-card-title">
          IT On-site & Offshore servies
        </div>
      </div>
      <div class="service-card-item">
        <div class="service-card-img">
          <img src="assets/images/training.jpg" alt="">
        </div>
        <div class="service-card-title">
          BCM & GRC Training Services
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
